body {
    margin: 0;
    background-color: #101010;
    color: #f2f2f2;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
  
.container {
    max-width: 600px;
    padding: 20px;
}
  
.error-code {
    font-size: 10em;
    font-weight: 700;
    color: #c58030; /* or #d4af37 for doré */
    text-shadow: 0 0 10px rgba(198, 166, 100, 0.2);
}
  
.title {
    font-size: 2.5em;
    margin: 0.5em 0;
}
  
.description {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 2em;
}
  
.lux-button {
    display: inline-block;
    padding: 12px 30px;
    border: 2px solid #c58030;
    border-radius: 50px;
    color: #f2f2f2;
    text-decoration: none;
    background: linear-gradient(to right, #c58030, #a56b28);
    font-weight: 500;
    box-shadow: inset 0 0 10px rgba(198, 166, 100, 0.4);
    transition: all 0.3s ease;
}
  
.lux-button:hover {
    background: transparent;
    color: #c58030;
    box-shadow: 0 0 10px rgba(198, 166, 100, 0.5);
}  