:root {
    --t-color: #f2f2f2;
}

/*responsive phone*/
@media screen and (max-width: 480px) {
    .header {
        margin: 0 25px;
    }
    
    .header_nav {
        display: none;
    }

    .hero_section {
        background: url(../assets/img/banner.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    h1 {
        font-size: 3.5em;
        text-align: center;
    }

    .menu_toggle {
        display: flex;
        color: var(--t-color);
    }

    .hero_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_content {
        justify-content: center;
        margin-top: 25px;
    }

    .about_img {
        display: none;
        max-width: 0;
    }

    .div-p_c {
        margin-right: 0;
    }

    .p_c {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }

    .carousel-track {
        margin: 50px 0 20px 0;
    }

    .carousel-track img {
        width: 200px;
        height: auto;
    }

    .carousel-container {
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 50%, transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, black 10%, black 50%, transparent 100%);
    }

    .fp {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
    }

    hr {
        margin: 0 5vh 3vh 5vh;
        border: none;
        height: 2px;
        background: linear-gradient(-45deg, transparent, #808080, transparent);
    }

    .fh2 {
        text-align: center;
        font-size: 1.9em !important;
    }

    .nnl {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nnl-l {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}