/*responsive phone*/
@media screen and (max-width: 480px) {
    .nav_list {
        display: none;
    }

    h1 {
        font-size: 3.5em;
        text-align: center;
    }

    .hero_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_content {
        justify-content: center;
        margin-top: 25px;
    }

    .about_img {
        display: none;
        max-width: 0;
    }

    .div-p_c {
        margin-right: 0;
    }

    .p_c {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }

    .carousel-track {
        margin: 50px 0 20px 0;
    }

    .carousel-track img {
        width: 200px;
        height: auto;
    }

    .carousel-container {
        overflow: hidden;
        position: relative;
        -webkit-mask-image: linear-gradient(to right, transparent 10%, black 55%, black 55%, transparent 90%);
        mask-image: linear-gradient(to right, transparent 10%, black 55%, black 55%, transparent 90%);
    }

    .fp {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}