@font-face {
    font-family: 'Dream Avenue';
    src: url('../fonts/Dream-Avenue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
:root {
    --b-color: #101010;
    --t-color: #f2f2f2;
    --f-title: 'Cormorant', serif;
    --f-text: 'Arapey' serif;
    --f-primary: 'Dream Avenue', serif;
}

body {
    margin: 0;
    background-color: var(--b-color);
}

a {
    text-decoration: none;
    color: var(--t-color);
    font-family: var(--f-title);
}

/*Hero*/
.hero_section {
    background: linear-gradient(to right, #101010, #101010, #00000000), 
                url(../assets/img/banner1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.hl {
    margin: 25px 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

/* Animation du logo qui monte */
.logo_up {
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.64, 0.63, 0.18, 1.15);
}

header .header_logo {
    transition: transform 0.8s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.header_blur {
    backdrop-filter: blur(5px);
    background-color: rgba(16, 16, 16, 0.9);
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header .header_logo {
    width: 100px;
    height: auto;
}

.nav_list {
    display: flex;
    gap: 70px;
    list-style: none;
    font-size: 1.3em;
}

.nav_list li a:hover {
    transition: color 0.3s;    
}

.nav_list li a:hover {
    color: #c58030
}

.menu_toggle {
    display: none;
}

h1 {
    color: var(--t-color);
    font-family: "Dream Avenue", serif;
    font-weight: lighter !important;
    font-size: 5em;
    max-width: 600px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
}

.hero_section {
    padding-top: 125px;
    padding-bottom: 100px;
}

.cta_btn {
    position: relative;
    border: #c58030 solid 5px;
    width: 225px;
    height: 55px;
    border-radius: 500px;
    background: linear-gradient(to right, #c58030, #c5803085);
    color: var(--t-color);
    font-family: var(--f-text);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    box-shadow: inset 0px 0px 14px 0px #1d1d1dc4;
    cursor: pointer;
}

.section {
    margin-top: 80px;
}

.h2_title {
    color: var(--t-color);
    font-family: var(--f-title);
    font-size: 2.5em;
    font-weight: 500;
    margin: 20px 0 0 0;
    text-align: center;
}

.h1_span, 
.h1_span-s {
	display: inline-block;
	opacity: 0;
	transform: translateY(40px);
	animation: fadeInUp 0.6s ease forwards;
}

.h1_span:nth-child(1) { animation-delay: 0s; }
.h1_span:nth-child(2) { animation-delay: 0.1s; }
.h1_span:nth-child(3) { animation-delay: 0.2s; }
.h1_span:nth-child(4) { animation-delay: 0.3s; }
.h1_span:nth-child(5) { animation-delay: 0.4s; }
.h1_span:nth-child(6) { animation-delay: 0.5s; }
.h1_span:nth-child(7) { animation-delay: 0.6s; }

@keyframes fadeInUp {
	to {
	  	opacity: 1;
	  	transform: translateY(0);
	}
}

h2 {
    font-weight: 100;
    z-index: 3;
}

.div-p_c {
    margin-right: 120px;
}

.p_c {
    color: var(--t-color);
    font-family: var(--f-text);
    font-size: 2em;
    font-weight: lighter;
    max-width: 250px;
    margin: 20px 0;
    z-index: 2;
}

/*about*/
.about_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.content {
    margin-top: 50px;
}

.about_img {
    display: block;
    max-width: 205px;
    width: 100%;
    height: auto;
    margin-left: 205px;
}

.about_img-phone {
    display: none;
}

/*menu*/
.menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: transform 2s cubic-bezier(0.64, 0.63, 0.18, 1.15);
}
  
.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}
  

/*see more button*/
.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    border: none;
    overflow: hidden;
    background: transparent;
    color: #fff;
    font-family: var(--f-primary);
    font-weight: lighter;
}
  
.button-text {
    transform: translateX(15px);
    font-size: 1.5em;
    font-weight: 700;
    transition-duration: 0.3s;
    font-weight: 200;
}
  
.iconer {
    transform: translateY(35px);
    transition-duration: 0.3s;
}
  
.button:hover .button-text {
    transform: translateX(0px);
}
  
.button:hover .iconer {
    transform: translateY(0px);
}

.fli {
    width: 150px;
    height: auto;
    filter: brightness(0) invert(1)
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.social-links {
    margin-top: 10px;
}

.nnl {
    list-style: none;
    font-size: 1.2em;
    color: var(--t-color);
    font-weight: lighter;
    padding: 5px;
}

.fp {
    display: flex;
    gap: 150px;
}

.f_localisation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nnl-l {
    gap: 10px;
    display: flex;
    align-items: center;
}

iframe {
    border-radius: 20px;
    margin-top: 20px;
}

hr {
	margin: 0 12vh 3vh 12vh;
	border: none;
	height: 2px;
	background: linear-gradient(-45deg, transparent, #808080, transparent);
}

footer {
    margin-bottom: 20px;
}

.fh2 {
    text-align: start;
}

.svg {
    color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    width: 22px;
    height: 22px;
    background: linear-gradient(223deg, #000000, #1f1f1f);
    box-shadow: inset 0px 0px 5px #545454;
}

.reveal_about {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
  
.reveal_about.visible {
    opacity: 1;
    transform: translateX(0);
}

.reveal_about-img {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
  
.reveal_about-img.visible {
    opacity: 1;
    transform: translateX(0);
}
  

/* Cacher les flèches de la scrollbar */
::-webkit-scrollbar-button {
    display: none;
}
  
/* Largeur fine */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track (le fond) = transparent */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Thumb*/
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}
  
/* Thumb au survol */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
  
/* Firefox*/
* {
    scrollbar-width: thin;
    scrollbar-color: #c58030 transparent;
}
  